DATABASE_URL=postgresql://backend_z1fo_user:HmZM7o289T8JdKhiFYwXF1vRV5oWUpvs@dpg-d7s5t9u7r5hc739obe5g-a.virginia-postgres.render.com/backend_z1fo
JWT_SECRET=1c9f5a18dbb74f7a8aafb1c76227e84f
PORT=5000
NODE_ENV=development

